<ion-header>
  <ion-toolbar>
    <ion-title class="subtitulo ion-text-wrap">
        Inventario
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-card-subtitle class="ion-text-center">Agregar Producto</ion-card-subtitle>
      <div style="text-align: start; margin: 10px;">
        <ion-button  (click)="nuevo()"  class="normal" color="dark"> nuevo</ion-button>
      </div>
      <div *ngIf="enableNewProducto">
        <ion-item>
          <h3>Ingresa datos del producto</h3>
        </ion-item>
        <ion-item>
          <ion-label   class="normal" position="floating">
              Nombre:
          </ion-label>
          <ion-input  [(ngModel)]="newProducto.nombre" class="normal" type="text" inputmode="text">
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-label   class="normal" position="floating">
              Descripción:
          </ion-label>
          <ion-input [(ngModel)]="newProducto.descrip" class="normal"  type="text" inputmode="text">
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-label class="normal">
              Foto:
          </ion-label>
          <ion-buttons slot="end">
            <ion-button>
               <label for="file-upload">
                 <ion-icon slot="icon-only" name="images"></ion-icon>
               </label>
                <input  (change)="newImageUpload($event)" id="file-upload" style="display: none" type="file"  accept="image/*">
            </ion-button>
          </ion-buttons>
        </ion-item>
        <ion-item>
          <img class="image"  [src]="newProducto.foto">
        </ion-item>
        <ion-buttons slot="start">
          <ion-button (click)="enableNewProducto = false">
            <ion-icon slot="icon-only" name="close"></ion-icon>
          </ion-button>
           <ion-button (click)="guardarProducto() ">
            <ion-icon color="primary" slot="icon-only" name="save-sharp"></ion-icon>
            </ion-button>
        </ion-buttons>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-card-subtitle class="ion-text-center">Tus productos</ion-card-subtitle>
      <ion-item *ngFor="let producto of productos">
        <ion-label>{{producto.nombre}}</ion-label>
        <ion-buttons slot="end">
          <ion-button (click)="deleteProducto(producto)">
            <ion-icon slot="icon-only" color="danger" name="trash-bin"></ion-icon>
          </ion-button>
          <ion-button (click)="newProducto = producto">
            <ion-icon slot="icon-only" name="create-sharp"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-item>
    </ion-card-content>
  </ion-card>

</ion-content>
