<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tab1"></ion-back-button>
    </ion-buttons>
    <ion-title>Mapa</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <agm-map 
    *ngIf="currentCenter"
    [latitude]="currentCenter.lat"
    [longitude]="currentCenter.lng"
    [zoom]="defaultZoom">
    <agm-marker 
    [latitude]="currentCenter.lat"
    [longitude]="currentCenter.lng" > 
    </agm-marker>
    <agm-marker 
    [latitude]=26.31788541752342
    [longitude]=-99.94292600508179
    iconUrl="assets/icon/icono_granja.png"
    > 
    </agm-marker>
    <agm-marker 
    [latitude]=26.32403998769862
    [longitude]=-99.91443021984284
    iconUrl="assets/icon/icono_granja.png"
    > 
    </agm-marker>
    <agm-polyline [strokeColor]="'blue'" *ngIf="coordinates">
      <agm-polyline-point *ngFor="let coords of coordinates" [latitude]="coords.lat" [longitude]="coords.lng">
      </agm-polyline-point>
    </agm-polyline>
  </agm-map>
</ion-content>
