<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tab1"></ion-back-button>
    </ion-buttons>
    <ion-title>Verduras</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let verdura of verduras" size="6">
        <ion-card>
          <ion-img [src]="verdura.img"></ion-img>
          <ion-card-header>
            <ion-card-title>{{verdura.name}} </ion-card-title>
            <ion-card-subtitle>{{verdura.descripcion}}</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
