<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tab1"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Verduras</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let verdura of verduras" size="6">
        <ion-card>
          <ion-img [src]="verdura.img"></ion-img>
          <ion-card-header>
            <h1 class="ion-text-center">{{verdura.name}} </h1>
            <ion-card-subtitle>{{verdura.descripcion}}</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
