<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tab3/login"></ion-back-button>
    </ion-buttons>
    <ion-title>Configuraciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
      <ion-card-content>
        <h1 class="ion-text-center">Actualiza tus datos</h1>
        <ion-input type="text" placeholder="Escribe tu nombre" #name></ion-input>
        <ion-input type="text" placeholder="Escribe nombre de empresa" #name></ion-input>
        <ion-button  id="imagen" color="secondary">
          Actualiza tu imagen
        </ion-button>
        <div>
          <ion-button  id="imagen" color="primary">
            Hecho 
          </ion-button>
        </div>
      </ion-card-content>
    </ion-card>
</ion-content>
