<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tab3/login"></ion-back-button>
    </ion-buttons>
    <ion-title>Crear cita</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col>
      <ion-card>
        <ion-card-content>
          <h1 class="ion-text-center">Agenda</h1>
          <form action="" method="post">
            <ion-input type="date" placeholder="Ingresa día..." #dia></ion-input>
            <ion-button type="submit">¡Agenda!</ion-button>
          </form>
          
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>
