<ion-header>
  <ion-toolbar color="primary">
      <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-row>
    <ion-col>
      <ion-card>
        <ion-card-content>
          <h1 class="ion-text-center">Registrar</h1>
          <ion-input type="text" [(ngModel)]="user.email" placeholder="Correo"></ion-input>
          <ion-input type="password" [(ngModel)]="user.password" placeholder="Escribe tu contraseña"></ion-input>
          <ion-item-divider>
            <ion-button size="larger" (click)="onRegister()">Registrar</ion-button>
            <ion-button size="larger" routerLink="/tabs/entrar">Entrar</ion-button>
        </ion-item-divider>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>